body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  background-color: #1f2837;
  margin: 20px;
}

#wrapper {
  width: 550px;
}

.unit-conversion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 4px;
  background: #fff;
  text-align: center;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6943ff;
}

h1 {
  margin: 30px 30px 30px;
  font-size: 1.75rem;
  font-weight: 800;
  color: #ffffff;
}

h2 {
  font-weight: 600;
  color: #5a537b;
  font-size: 1.25rem;
}

p {
  font-size: 0.875rem;
  margin-top: 4px;
}

#user-input {
  display: block;
  height: 90px;
  margin-bottom: 25px;
  border-radius: 5px;
  background-color: #6943ff;
  border: 2px solid #b295ff;
  font-size: 3.65rem;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
  appearance: none;
}

input::placeholder {
  color: #ffffff;
}

main {
  padding: 36px 25px;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#convert-button,
#reset-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background: #fff;
  padding: 9px 27px;
  margin-bottom: 34px;
  width: 90px;
  color: #000;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Media Queries */

@media (max-width: 600px) {
  #wrapper {
    width: 100%;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1rem;
  }

  .unit-conversion {
    padding: 15px;
  }

  #user-input {
    height: 80px;
    font-size: 3rem;
    font-weight: 800;
  }
}
