body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

#wrapper {
  width: 550px;
}

.unit-conversion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 4px;
  background: #fff;
  text-align: center;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6943ff;
}

h1 {
  margin-top: 33px;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 800;
  color: #ffffff;
}

h2 {
  font-weight: 600;
  color: #5a537b;
  font-size: 1.25rem;
}

p {
  margin-top: 4px;
}

#user-input {
  display: block;
  height: 90px;
  margin-bottom: 25px;
  border-radius: 5px;
  background-color: #6943ff;
  border: 2px solid #b295ff;
  font-size: 58px;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
  appearance: none;
}

input::placeholder {
  color: #ffffff;
}

main {
  padding: 36px 25px;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#convert-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  background: #fff;
  padding: 9px 27px;
  margin-bottom: 34px;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
